<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <!-- Page specific head additions -->
    <title>Login Into Linkr Admin</title>
</head>

<body>
    <th:block layout:fragment="body" th:remove="tag">
        <div th:each="p : ${PATS}">
            <p th:text="${p.PAT}"></p>
        </div>

    </th:block>

    
</body>
